.purple {
  color: rgb(181, 35, 243);
}

p {
  font-size: 2rem;
}

.main-heading {
  font-size: 8cqw;
  font-weight: 300;
}

.navbar {
  background: none;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.nav-link {
  color: black;
  font-weight: 600;
  font-size: 2rem;
}
